// Tipografia
$fuentePrincipal: Arial, Helvetica, sans-serif;

// Paleta de Colores
$colores:(
    'primario': #B4CDED,
    'secundario': #344966,
    'fondo': #2c2c2c,
    'tipografia': #F0F4EF,
);

// Media-Queries
$tablet: 768px;
$laptop: 1024px;
$desktop: 1200px;
$desktopXL: 1400px;